singularity
.nextflow*
*log*
work
output
.Dockerfile.swp
incoming
incoming_to_process
incoming_backup
reports
processed
*nfs*
test
*secrets*
atlas-imgs
conf
assets
*config*
.classpath
/scripts/
!modules/**/scripts/
