profiles {
  crg        { includeConfig "${params.custom_config_base}/conf/crg.config"; includeConfig "${params.custom_config_base}/conf/crg_secrets.config" }
  defaultlab { includeConfig "${params.custom_config_base}/conf/defaultlab.config"; includeConfig "${params.custom_config_base}/conf/default_lab_secrets.config" }
}
