process {

     queue='pr-tanaka-el7,pr-fenn-el7,short-sl7,long-sl7,guest'
     cpus='1'
     scratch = false
     errorStrategy = 'ignore'


     profiles {

         tiny {

                withLabel: comet {
                        container = 'openms-executables-latest'
                        clusterOptions = '-l virtual_free=4G -pe smp 1 -m abe'
                }

         }


         small {
      
     		withLabel: comet {
        		container = 'openms-executables-latest'
        		clusterOptions = '-l virtual_free=8G -pe smp 2 -m abe'
     		}

     	 }


          medium {

                withLabel: mascot {
                        container = 'openms-executables-latest'
                        clusterOptions = '-l virtual_free=8G'
                }


                withLabel: comet {
                        container = 'openms-executables-latest'
                        clusterOptions = '-l virtual_free=8G -pe smp 5 -m abe'
                }
   
                withLabel: diann {
      		  container = 'proteomicsunitcrg-dia-nn:latest'
        	  clusterOptions = '-l virtual_free=8G -pe smp 5 -m abe'
     		}

         }


         big {

                withLabel: comet {
                        container = 'openms-executables-latest'
                        clusterOptions = '-l virtual_free=16G -pe smp 16 -m abe'
                }

        }
 

     }


     withLabel: thermoconvert {
        container = 'quay.io-biocontainers-thermorawfileparser-1.2.3--1'
     }

     withLabel: openms {
        container = 'openms-executables-latest'
        clusterOptions = '-l virtual_free=9G'
     }

     withLabel: ffm {
        container = 'openms-executables-latest'
        clusterOptions = '-l virtual_free=9G'
     }

     withLabel: diaumpire {
        clusterOptions = '-l virtual_free=9G -pe smp 5 -m abe'
     }

     withLabel: clitools {
        clusterOptions = '-l virtual_free=9G'
        container = 'proteomicsunitcrg-clitools-latest'
     }

}

launchDir = "$baseDir"
workDir = "$baseDir/work"
includeConfig "conf/params.config"
includeConfig "conf/openms.config"
includeConfig "conf/dia_umpire.config"
includeConfig "conf/dia_nn.config"
singularity.cacheDir = "/users/pr/qsample/atlas-imgs"
singularity.enabled = true
