process {

     queue='pr-el7,short-sl7'
     cpus='4'
     time='1h'
     scratch = false
     errorStrategy = 'ignore'

     withLabel: thermoconvert {
        memory='10G'
        container = 'quay.io/biocontainers/thermorawfileparser:1.2.3--1'
     }

     withLabel: openms {
        memory='5G'
        container = 'openms/executables:latest'
     }

}

workDir = "$baseDir/work"
includeConfig "conf/params.config"
includeConfig "conf/openms.config"
singularity.cacheDir = "$baseDir/singularity"
singularity.enabled = true
