process {

     //tanaka,cluster
     queue='pr-el7,short-sl7'
     cpus='1'
     time='2h'
     scratch = false
     errorStrategy = 'ignore'
     executor = 'sge'

     withLabel: thermoconvert {
        memory = '8G'
        container = 'quay.io/biocontainers/thermorawfileparser:1.2.3--1'
     }

     withLabel: openms {
        memory = '7G'
        container = 'openms/executables:latest'
        clusterOptions = '-l h_rt=120:00:00,virtual_free=12G'
     }

     withLabel: ffm {
        memory = '13G'
        container = 'openms/executables:latest'
        clusterOptions = '-l h_rt=120:00:00,virtual_free=8G'
     }

     withLabel: mascot {
        memory = '14G'
        container = 'openms/executables:latest'
        clusterOptions = '-l h_rt=120:00:00,virtual_free=14G'
     }

}

profiles {
	test { includeConfig 'conf/test.config' }
}

workDir = "$baseDir/work"
includeConfig "conf/params.config"
includeConfig "conf/openms.config"
singularity.cacheDir = "$baseDir/singularity"
singularity.enabled = true
