singularity {
	enabled = true
	cacheDir = "folder_to_store_singularity_imgs"
}

params {

    //Folders:
    databases_folder                = "folder_to_store_databases"
    scripts_folder                  = "$baseDir/bin"
    tools_folder                    = "$baseDir/tools"  
 
    //QCloud2 API:
    url_api_signin              = "http://localhost:8099/api/auth/signin"
    url_api_insert_file         = "localhost:8099/api/file/insertFromPipelineRequest"
    url_api_insert_wetlab_data  = "localhost:8099/api/data/pipeline"
    url_api_insert_data         = "localhost:8099/api/data/pipelineRequest"
    url_api_insert_quant        = "localhost:8099/api/quantification/pipeline"
    url_api_fileinfo            = "localhost:8099/api/fileInfo/pipeline"
    url_api_insert_modif        = "localhost:8099/api/modification/pipeline"
    url_api_insert_wetlab_file  = "localhost:8099/api/file/insertFromPipeline"

    //Default search engine: 
    search_engine                   = "comet"    

    //Quantification script (from CSV to JSON): 
    num_max_prots = 1000

    //api-keys "wetlab" table: 
    api_key_qcgl                    = "7765746c-6162-3300-0000-000000000000"
    api_key_qcdl                    = "6170694b-6579-3100-0000-000000000000"
    api_key_qcfl                    = "7765746c-6162-3500-0000-000000000000"
    api_key_qcpl                    = "7765746c-6162-3400-0000-000000000000"
    api_key_qcrl                    = "7765746c-6162-3200-0000-000000000000"
    api_key_qchl                    = "7765746c-6162-3600-0000-000000000000"

    //DIA-NN: 
    qvalue 		            = "0.01" 
    min_fr_mz 			    = "350" 
    max_fr_mz 			    = "1850" 
    cut 			    = "K*,R*" 
    missed_cleavages	 	    = "1" 
    min_pep_len 		    = "7" 
    max_pep_len 		    = "30" 
    min_pr_mz 			    = "500" 
    max_pr_mz 			    = "900" 
    min_pr_charge	 	    = "1" 
    max_pr_charge 		    = "4" 
    var_mods 			    = "1" 
    var_mod 			    = "UniMod:35,15.994915,M" 
    pg_level 			    = "1" 

    //DIA-UMPIRE: 
    jar_file            = "$baseDir/tools/dia-umpire/DIA_Umpire_SE.jar"
    params_file         = "$baseDir/tools/dia-umpire/embo-diase-2.params"
    lib_folder          = "$baseDir/tools/dia-umpire/lib"

    //OpenMS Mascot adapter:  
    search_title              = "QSample"
    hostname                  = "mascot_server_url"
    host_port                 = "mascot_server_port" 
    server_path               = "mascot_server_path"
    timeout                   = "0" 
    precursor_mass_tolerance  = "'7'"
    precursor_error_units     = "ppm"
    fixed_modifications       = "'Carbamidomethyl (C)'"
    variable_modifications    = "'Oxidation (M)' 'Acetyl (N-term)'"
    enzyme                    = "'Trypsin'"    
    fragment_mass_tolerance   = "'0.5'"
    fragment_error_units      = "'Da'" 
    charges                   = "'2,3,4,5'"
    missed_cleavages          = "'3'"
    batch_size                = "50000"
    debug_code                = "1000"

    //OpenMS Comet engine adapter: 
    precursor_charge          = "2:5"
    comet_executable          = "$baseDir/tools/comet/comet.linux.2022.01.2.exe"

    //Other OpenMS modules: 

    //PeptideIndexer: 
    decoy_string             = "'###REV###'"
    decoy_string_position    = "'prefix'"
    missing_decoy_action     = "'warn'"
    unmatched_action         = "'remove'"
    aaa_max                  = "0"
    enzyme_specificity       = "full"

    //FalseDiscoveryRate:
    PSM                      = "'true'" 
    protein                  = "'false'"
    FDR_PSM                  = "'1'"
    FDR_protein              = "'1'"

    //IDFilter:
    score_pep                = "'0.05'"
    aaa_pep                  = "'0.0'"
    score_prot               = "'0.0'"
    aaa_prot                 = "'0.0'"
    black_regex              = "[XZ]+"

    //FeatureFinderMultiplex:
    algorithm_labels         = "''"
    algorithm_charge         = "'1:5'"
    algorithm_rt_typical     = "'40'"
    algorithm_rt_min         = "'2'"
    algorithm_mz_tolerance   = "'10'"
    algorithm_rt_band        = "'1'"
    
    //IDMapper:
    rt_tolerance             = "'40'"
    mz_tolerance             = "'10'"

    //ProteinQuantifier: 
    average                  = "'mean'"

    //Secondary reactions:
    sec_react_modif           ="''"

}

process {

     queue='your_cluster_queues'
     cpus='1'
     scratch = false
     errorStrategy = 'ignore'


     profiles {

         tiny {

                withLabel: comet {
                        container = 'openms-executables-latest'
                        clusterOptions = '-l virtual_free=4G -pe smp 1 -m abe'
                }

         }


         small {
      
     		withLabel: comet {
        		container = 'openms-executables-latest'
        		clusterOptions = '-l virtual_free=8G -pe smp 2 -m abe'
     		}

     	 }


          medium {

                withLabel: mascot {
                        container = 'openms-executables-latest'
                        clusterOptions = '-l virtual_free=8G'
                }


                withLabel: comet {
                        container = 'openms-executables-latest'
                        clusterOptions = '-l virtual_free=8G -pe smp 5 -m abe'
                }
   
                withLabel: diann {
      		  container = 'proteomicsunitcrg-dia-nn:latest'
        	  clusterOptions = '-l virtual_free=8G -pe smp 5 -m abe'
     		}

         }


         big {

                withLabel: comet {
                        container = 'openms-executables-latest'
                        clusterOptions = '-l virtual_free=16G -pe smp 16 -m abe'
                }

        }
 

     }


     withLabel: thermoconvert {
        container = 'quay.io-biocontainers-thermorawfileparser-1.2.3--1'
     }

     withLabel: openms {
        container = 'openms-executables-latest'
        clusterOptions = '-l virtual_free=9G'
     }

     withLabel: ffm {
        container = 'openms-executables-latest'
        clusterOptions = '-l virtual_free=9G'
     }

     withLabel: diaumpire {
        clusterOptions = '-l virtual_free=9G -pe smp 5 -m abe'
     }

     withLabel: clitools {
        clusterOptions = '-l virtual_free=9G'
        container = 'proteomicsunitcrg-clitools-latest'
     }

}
