params {

	qvalue 				= "0.01" 
	min_fr_mz 			= "350" 
	max_fr_mz 			= "1850" 
	cut 				= "K*,R*" 
	missed_cleavages	 	= "1" 
	min_pep_len 			= "7" 
	max_pep_len 			= "30" 
	min_pr_mz 			= "500" 
	max_pr_mz 			= "900" 
	min_pr_charge	 		= "1" 
	max_pr_charge 			= "4" 
	var_mods 			= "1" 
	var_mod 			= "UniMod:35,15.994915,M" 
	pg_level 			= "1" 

}
