params {

    //Mascot engine:  
    search_title             = "QSample"
    hostname                 = "mascot.linux.crg.es"
    host_port                = "80" 
    server_path              = "mascot"
    timeout                  = "1500" 
    username                 = "proteomics"
    password                 = "***REMOVED***"
    precursor_mass_tolerance = "'7'"
    precursor_error_units    = "ppm"
    fixed_modifications      = "'Carbamidomethyl (C)'"
    variable_modifications   = "'Oxidation (M)' 'Acetyl (N-term)'"
    enzyme                   = "'Trypsin'"    
    fragment_mass_tolerance  = "'0.5'"
    //fragment_mass_tolerance  = "'0.02'"
    fragment_error_units     = "'Da'" 
    charges                  = "'2,3,4,5'"
    missed_cleavages         = "'3'"

    //PeptideIndexer: 
    decoy_string             = "'###REV###'"
    decoy_string_position    = "'prefix'"
    missing_decoy_action     = "'warn'"
    unmatched_action         = "'remove'"

    //FalseDiscoveryRate:
    PSM                      = "'true'" 
    protein                  = "'false'"
    FDR_PSM                  = "'1'"
    FDR_protein              = "'1'"

    //IDFilter:
    score_pep                = "'0.05'"
    aaa_pep                  = "'0.0'"
    score_prot               = "'0.0'"
    aaa_prot                 = "'0.0'"
    black_regex              = "[X]+"

    //FeatureFinderMultiplex:
    algorithm_labels         = "''"
    algorithm_charge         = "'2:5'"
    algorithm_rt_typical     = "'40'"
    algorithm_rt_min         = "'2'"
    algorithm_mz_tolerance   = "'6'"

    //IDMapper:
    rt_tolerance             = "'30'"
    mz_tolerance             = "'7'"

   
}
