params {
    //Folders:
    databases_folder          = "/users/pr/qsample/databases"
    scripts_folder            = "$baseDir/bin"

    //QCloud2 API:
    qcloud2_api_signin        = "http://qcloud2.crg.eu:8081/api/auth/signin"
    qcloud2_api_user          = "***REMOVED***@***REMOVED***.es"
    qcloud2_api_pass          = "***REMOVED***"
    qcloud2_api_insert_file   = "qcloud2.crg.eu:8081/api/file/insertFromPipelineRequest"
    qcloud2_api_insert_data   = "qcloud2.crg.eu:8081/api/data/pipelineRequest"
    qcloud2_api_insert_quant  = "qcloud2.crg.eu:8081/api/quantification/pipeline"
}
