params {
    //Folders:
    databases_folder                = "/users/pr/qsample/databases"
    scripts_folder                  = "$baseDir/bin"
    tools_folder                    = "$baseDir/tools"  
 
    //Default search engine: 
    search_engine                   = "comet"     

    //QCloud2 API:
    qcloud2_api_signin              = "http://qcloud2.crg.eu:8081/api/auth/signin"
    qcloud2_api_user                = "***REMOVED***@***REMOVED***.es"
    qcloud2_api_pass                = "***REMOVED***"
    qcloud2_api_insert_file         = "qcloud2.crg.eu:8081/api/file/insertFromPipelineRequest"
    qcloud2_api_insert_wetlab_data  = "qcloud2.crg.eu:8081/api/data/pipeline"
    qcloud2_api_insert_data         = "qcloud2.crg.eu:8081/api/data/pipelineRequest"
    qcloud2_api_insert_quant        = "qcloud2.crg.eu:8081/api/quantification/pipeline"
    qcloud2_api_fileinfo            = "qcloud2.crg.eu:8081/api/fileInfo/pipeline"
    qcloud2_api_insert_modif        = "qcloud2.crg.eu:8081/api/modification/pipeline"
    qcloud2_api_insert_wetlab_file  = "qcloud2.crg.eu:8081/api/file/insertFromPipeline"

    //Quantification script (from CSV to JSON): 
    num_max_prots = 1000

    //api-keys "wetlab" table: 
    api_key_qcgl                    = "7765746c-6162-3300-0000-000000000000"
    api_key_qcdl                    = "6170694b-6579-3100-0000-000000000000"
    api_key_qcfl                    = "7765746c-6162-3500-0000-000000000000"
    api_key_qcpl                    = "7765746c-6162-3400-0000-000000000000"
    api_key_qcrl                    = "7765746c-6162-3200-0000-000000000000"
    api_key_qchl                    = "7765746c-6162-3600-0000-000000000000"

}
