/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run atlas -profile test
 */

params {
	config_profile_name = 'Test LB app profile'
  	config_profile_description = 'Minimal test dataset to check pipeline function for LB apps'
  	// Limit resources so that this can run on GitHub Actions
  	max_cpus = 2
  	max_memory = 10.GB
  	max_time = 48.h

	//Input data: 
	rawfile   = "/users/pr/qsample/files_processed/2021LB005_BRBA_009_02_20pto.raw.SP_Human"
        var_modif = "'Oxidation (M)' 'Acetyl (N-term)'"
}
